.day-name{
    font-size: 12px;
    text-align: center;
}
.day-element {
    font-size: 13px;
    text-align: center;
}
.day-element:hover {
    cursor: pointer;
    background-color: darkgray;
}

.sunday-saturday {
    background-color: beige;
}
.celebrity-day {
    background-color: lightcoral;
}
.show-month-before {
    float: left;
    margin-right: 10px
}

.show-month-after {
    float: left;
    padding-left: 10px
}



